.clear-100
.card
  .card-header
    %h1
      Edit Product
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', admin_product_path(@product)
    \|
    = link_to 'Back', admin_products_path
