%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to  "Mumsnet",admin_products_path, class:"navbar-brand"
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        = link_to "Products",admin_products_path, class:"nav-link"
      %li.nav-item
        = link_to "Categories",admin_categories_path, class:"nav-link"
